.fadein {
  animation: fadein 0.3s ease-out 0s forwards;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: fadein;
}

.background {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(https://farm4.staticflickr.com/3928/33137499263_37938c1387_k.jpg);
}

.time {
  display: block;
  top: 10%;
  width: 100%;
  position: relative;
  height: 100px;
}
.center {
  top: 35%;
  width: 60%;
  position: relative;
  height: 250px;
  margin-left: 15%;
  margin-right: 15%;
}

h3 {
  font-size: 2.1875rem;
  font-weight: 300;
  color: white;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.flex_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-enter {
  opacity: 0;
  transform: scale(0.9);
}
.menu-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.menu-exit {
  opacity: 1;
}
.menu-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
